<div class="row" id="home_contact">
  <div class="col-md-4 col-md-offset-4">
    <h2>预约量房</h2>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, "Your Name" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password, "Your Mobile" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "提交预约", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
